.container {
  padding: 1rem;
  width: 20vw;
  background: none;
  display: flex;
  flex-direction: column;
  background: #0d1c2b;
}

.room {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.2s ease;
  background: #508aa8;
  border-radius: 5px;
  color: #13293d;
  margin-top: 1rem;
}

.currentRoom {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.2s ease;
  background: #e8f1f2;
  border-radius: 5px;
  color: #13293d;
  margin-top: 1rem;
}

.joinButton,
.deleteButton {
  background: #13293d;
  border: none;
  color: #e8f1f2;
  transition: 0.2s ease;
  margin-left: 1rem;
  padding: 0.5rem 1rem;
}

.joinButton:hover,
.deleteButton:hover {
  background-color: #e8f1f2;
  color: #13293d;
}

.joinButton:focus,
.deleteButton:focus {
  outline: 0;
}
