.container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  height: 100vh;
  width: 100%;
}

.messageContainer {
  display: flex;
  flex-direction: column;
  background-color: none;
  height: 100%;
  overflow-y: scroll;
  background: none;
  border-bottom: 2px solid #0d1c2b;
  padding-top: 1rem;
}

.message {
  border-radius: 5px;
  background: #0d1c2b;
  padding: 1rem;
  margin: 0 1rem 1rem 1rem;
}

.messageHeading {
  margin-bottom: 0.2rem;
}

.messageAuthor {
  font-weight: bold;
}

.messageDate {
  color: rgba(211, 211, 211, 0.37);
  font-size: 0.8rem;
  margin-left: 0.5rem;
}

.messageForm {
  margin-top: auto;
  display: flex;
}

.messageForm input {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #e8f1f2;
  transition: 0.2s ease;
  width: 100%;
  padding: 1rem;
}

.messageForm input:hover {
  border-color: #8d9fb4;
}

.messageForm input:focus {
  outline: 0;
}

.messageForm input::placeholder {
  color: #6a7e97;
  opacity: 1;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 2px solid #0d1c2b;
}

.header h3 {
  margin: 0;
}
