.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.container h2 {
  font-size: 4rem;
  color: #6a7e97;
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginForm .input {
  background: none;
  padding: 1rem;
  font-size: 1.5rem;
  color: white;
  margin-top: 1rem;
  border: 1px solid #6a7e97;
  transition: 0.2s ease;
}

.loginForm .input:hover {
  border-color: #8d9fb4;
}

.loginForm .input:focus {
  outline: 0;
  border: 1px solid white;
}

.loginForm .input::placeholder {
  color: #6a7e97;
  opacity: 1;
}

.loginForm button {
  padding: 1rem;
  background: #6a7e97;
  border: 1px solid #6a7e97;
  color: #232c39;
  font-size: 1.5rem;
  margin-top: 1rem;
  transition: 0.2s ease;
}

.loginForm button:hover {
  background-color: #8d9fb4;
}

.loginForm button:focus {
  outline: 0;
}
