.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.container h2 {
  font-size: 4rem;
  color: #508aa8;
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginForm .input {
  background: none;
  padding: 0.5rem;
  font-size: 1.5rem;
  color: #e8f1f2;
  margin-top: 1rem;
  border: none;
  border-bottom: 1px solid #508aa8;
  transition: 0.2s ease;
}

.loginForm .input:hover {
  border-color: #e8f1f2;
}

.loginForm .input:focus {
  outline: 0;
  border-color: #e8f1f2;
}

.loginForm .input::placeholder {
  color: #508aa8;
  opacity: 1;
}

.loginForm button {
  padding: 0.5rem;
  background: #508aa8;
  border: none;
  color: #13293d;
  font-size: 1.5rem;
  margin-top: 1rem;
  transition: 0.2s ease;
  border-radius: 5px;
}

.loginForm button:hover {
  background-color: #e8f1f2;
}

.loginForm button:focus {
  outline: 0;
}

.loginForm .errorMessage {
  text-align: center;
  margin-top: 1rem;
  color: red;
}
